<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@SITETITLE@</title>
<style type="text/css">
body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
</style>
</head>

<body>
<table width="600" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#CCCCCC">
  <tr>
    <td bgcolor="#FFFFFF">Flying Web CMS</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">@MAINMENU@</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">@CONTENT@</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#FFFFFF">@POWERED BY@</td>
  </tr>
</table>
</body>
</html>
